*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#home-bg-image-container{
  height:100vh;
  background-image: url(./assets/bg-image.webp);
  background-size:cover;
  display:grid;
  place-items:center;
}

#home-trans-container{
  width:80%;
  height:60vh;
  background-color: rgba(256 ,256 ,256 ,0.75);
  border-radius:20px;
  padding:100px;
}

#home-blogspot-wrap{
  height:100%;
  width:50%;
  color:#434242;
  display:flex;
  flex-direction: column;
  justify-content:space-between
}

#blogspot-h1{
  font-size:102px;
}

.blogspot{
  font-family: 'Lobster Two', sans-serif;
  font-weight: 300;
  font-size: 102px;
}

#sub-title{
  font-family:'Roboto';
  font-weight: 300;
  font-size:30px;
}

#signup-login-wrap-main{
  width:100%;
  display:flex;
  justify-content: space-between;
}

.signup-login-main{
  height:50px;
  width:48%;
  border-radius:25px;
  border : 1px solid #434242;
  font-size: 18px;
}

.signup{
  background-color: #434242;
  color:white;
}



