:root{
    --dark : #2d2c2c;
    --glow : #00CAF7;
  }

  body{
    overflow-x: clip;
  }

  #root{
    width:100%;
  }
  
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  button{
    cursor:pointer;
  }

  a{
    text-decoration:none;
  }
  
  #home-bg-image-container{
    height:100vh;
    width:100%;
    background-image: url(/images/bg-image.webp);
    background-size:cover;
    position:fixed;
    top:0px;
    z-index:0;
  }
  
  #home-dark-filter{
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0 , 0.5), transparent , rgba(0, 0, 0 , 0.5)) ;
  }

  #home-header,#signup-login-header,#explore-header{
    width:100%;
    height:60px;
    position:fixed;
    display:flex;
    padding:0 6%;
    align-items: center;
  }
  
  #home-header,#signup-login-header,#explore-header{
    z-index: 3;
    top:0px;
  }
  
  #home-header{
    justify-content: flex-start;
    background-color: var(--dark);
    box-shadow: 0 0 8px 1px ;
  }

  .hide{
    transform: translateY(-70px) ;
    transition-duration: 0.3s;
  }
  
  .show{
    transform: translateY(0px) ;
    transition-duration: 0.3s;
  }
  
  #signup-login-header{
    justify-content: flex-end;
  }
  
  #home-trans-container{
    width:80% ;
    height:60vh;
    background-color: rgba(256 ,256 ,256 ,1);
    border-radius:20px;
    padding:3vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #h1-blogspot{
    font-size: min(9vw,100px);
    
  }
  
  #home-blogspot-wrap{
    height:175px;
    width:40%;
    color:var(--dark);
    flex-direction: column;
    justify-content:space-between;
  }

  /* swiper */

  #swiper-div{
    width:60%;
    overflow: clip;
  }

  .swiper-slide{
    height:250px;
    width:210px;
    border-radius: 20px;
    background-color: rgb(250, 195, 195);
  }
  
  .swiper-image{
    height:100%;
    display:block;
    margin:auto;
  }
  
  .swiper-button-prev,.swiper-button-next{
    background-color: whitesmoke;
    box-shadow: 0 0 5px 2px var(--dark);
    height:50px;
    width:50px;
    border-radius:25px;
  }

  .swiper-button-prev::after,.swiper-button-next::after{
    transform: scale(0.8);
  }

  #home-header-blogspot{
    color:white;
    font-size: 30px;
  }

  #explore-header-blogspot{
    font-size: 30px;
    color:var(--dark);
  }
  
  .blogspot{
    font-family: 'Lobster Two', sans-serif;
    font-weight: 300;
  }
  
  #sub-title{
    font-family: 'Roboto' ;
    font-size:30px;
    font-weight: normal;
  }
  
  #signup-login-wrap{
    width:300px;
    height:30px;
    display:flex;
    justify-content: space-between;
  }
  
  .signup-login{
    width:48%;
    border-radius:25px;
    border : 0.5px solid white;
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
  }
  
  .signup{
    background-color: white;
    color: var(--dark);
  }
  
  .login{
    background-color: transparent;
    color:white;
  }
  
  #info{
    position:absolute;
    top:100vh;
    background-color: white;
    color:var(--dark);
    padding:10%;
    font-family: roboto;
    z-index: 1;
    box-shadow: 0px -10px 25px 0px black;
  }
  
  .block{
    height:400px;
    display: flex;
  }
  
  .block:not(:last-of-type){
    margin-bottom: 40px;
  }
  
  #block-1,#block-3{
    flex-direction: row;
  }
  
  #block-2{
    flex-direction: row-reverse;
  }
  
  .text{
    width:50%;
  }
  
  .image{
  
    width:50%;
    height:100%;
  } 
  
  .info-image{
    height:100%;
    display: block;
    margin:auto;
  }
  
  .home-h2{
    font-size:50px;
    margin:20px 0px ;
  
  }
  
  .home-p{
    font-size: 25px;
    line-height: 35px;
  }
  
  .info-shadow{
  
    box-shadow: 0 0 30px 0px black;
  
  }
  
    /* Auth */

  .auth-wrap{
    height:100vh;
    display: grid;
    place-items:center;
  }

  .auth-form{
    width:400px;
    display: flex;
    flex-direction: column;
    padding:20px;
    box-shadow: 0px 0px 8px 0px;
    border-radius:20px;
    color:var(--dark);
  }

  .auth-blogspot{
    font-size: 48px;
    text-align: center ;
  }

  .auth-form > *:not(label){
    margin-bottom:20px;
  }

  .auth-form input {
    height:35px;
    border:none;
    background-color: #E6E6E6;
    border-radius: 5px;
    padding:10px;
  }

  #username-wrap{
    display:flex;
    justify-content: space-between;
  }

  #username-wrap input{
    width:100%;
  }

  #username-wrap label{
    width:49%;
  }

  .auth-form label{
    font-size:12px;
    font-family: 'Poppins';
  }

  .auth-form button{
    font-family: 'Poppins';
    font-size:14px;
    height:45px;
    width:100%;
    border-radius: 5px;
    border:none;
  }
  
  #signup-btn,#login-btn{
    background-color: var(--dark);
    color:white;
  }

  #signup-w-google-btn,#login-w-google-btn{
    background-color: white;
    box-shadow:0px 0px 5px 0px ; 
  }

  .line{
    height:1px;
    background-color: grey;
    width:40%;
    border-radius: 0.5px;
  }

  .or{
    color:grey;
    font-family: poppins;
    width:20%;
    text-align: center;
  }

  .or-wrap{
    display: flex;
    align-items: center;
  }

  .auth-extra{
    font-family: 'Poppins';
    font-size: 12px;
    text-align:center;
  }

  .error-box{
    background-color: rgb(255, 239, 239);
    color:red;
    border-radius:5px;
    font-family: 'Poppins';
    font-size: 12px;
    padding: 5px;
    display: block;
  }

  .error-icon-span{
    position:relative;
    top:2px;
    margin-right:2px;
  }


  /* Explore */

  #explore-header{
    background-color: white;
    border-bottom: 0.5px solid grey ;
    justify-content: space-evenly;
  }
  
  #explore-header .blogspot{
    margin-right: 25px;
  }

  .empty{
    flex:1 0 auto;
  }

  #search-bar{
    height: 38px;
    border-radius: 19px ;
    border: none;
    outline:0;
    padding:15px;
    box-shadow:0px 3px 8px 0px grey;
  }

  #search-icon{
    position: relative;
    right:25px;
    top:4px;
  }
  
  #header-profile-btn{
    position: relative;
    overflow: hidden;
    background-color: #7c7b7b;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    cursor:pointer;
  }
  
  #explore-main{
    position: relative;
    top:60px;
    padding:0px 6%;
  }

  #explore-layer{
    font-family: poppins;
    transition: filter 0.3s;
  }

  #blogs-people-wrap{
    padding:20px 0;
  }

  #blogs-btn , #people-btn{
    font-size: 1rem;
    font-family: poppins , sans-serif;
    height: 30px;
    border:0.5px solid black;
    border-radius:15px;
    padding:0px 10px;
  }

  #blogs-btn{
    margin-right: 10px;
  }

  .active {

    background-color: var(--dark);
    color:white;

  }

  #filter-sort-wrap{
    display: flex;
  }
  
  #filter-btn , #sort-btn{
    width:70px;
    height:30px;
    border-radius: 15px;
    border:1px solid grey;
    color:grey;
    text-align: center;
    line-height: 30px;
    font-family: poppins, sans-serif;
    margin-right: 10px ;
  }

  #filter-btn:hover{
    color:var(--glow);
    border-color: var(--glow);
    cursor: pointer;
  }
  

  #filter-icon,#sort-icon{
    position:relative;
    right:-3px;
    top:3px;
  }

  #filter-dialogbox-wrap{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0 , 0.3);
    top: 0;
    left:0;
    display: grid;
    place-items: center;
    display: none;
  }

  #filter-dialogbox{
    width:650px;
    height:auto;
    padding:50px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  #filter-sections-wrap{
    font-family: sans-serif;
    width:100%;
    display: flex;
    justify-content: space-between;
  }
  
  .filter-sections{
    width:160px;
    height:150px; /*change*/
  }
  
 .filter-section-headings{
    text-align:center;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid black;
  }

  #upload-date-list , #categories-list{
    list-style: none;
    padding-left: 20px;
  }

  #categories-list{
    height:calc(100% - 30px);
    overflow-y: scroll;
  }

::-webkit-scrollbar {
  width: 3px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  #upload-date-list li , #categories-list li{
    padding: 5px;
  }

  #duration{
    width:35px;
  }

  .close-btn{
    position: absolute;
    color:grey;
    font-size: 20px;
    right:10px;
    top:10px;
    border-radius: 10px;
    cursor:pointer;
  }

  .close-btn:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
  }

  #apply-filters{
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    padding:10px;
    background-color: #2c9ed3;
    border:none;
    border-radius:5px;
    align-self: flex-end;
  }

  #blog-cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items:center ;
    font-family: 'Poppins';
  }

  .blog-card{
    width:min(95%,360px);
    aspect-ratio: 1;
    background-color: white;
    border-radius:25px ;
    box-shadow:grey 0px 0px 10px 0px;
    cursor: pointer;
    margin:20px;
  }

  .blog-card:hover{
    transform:scale(1.05);
    transition: transform 0.3s;
  }

  .bc-tbnl-div{
    height:60%;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
    position: relative;
  }

  .bc-tbnl{
    width:100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  .bc-description{
    padding:15px;
  }

  .profile{
    display: flex;
    align-items: center;
  }

  .profile-pic-div{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    /* margin-right: 10px; */
  }

  .bc-profile-pic-div,.pc-profile-pic-div {
    height:25px;
    width:25px;
  }

  .profile-pic {
    height:100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  .bc-author{
    color: #7c7b7b;
  }

  .bc-title{
    font-size: 20px;
    font-weight: 600;
  }

  /* people */

  #people-component{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  .people-card{
    display: flex;
    height: 200px;
    margin: 20px 0;
  }

  .pc-author{
    font-size: 1.5rem;
  }

  .pc-bio{
    font-size: 1rem;
    color: #7c7b7b;
  }

  .pc-follow-wrap,#article-follow-wrap{
      padding:0 30px;
      display: flex;
      align-items:center;
  }

  .pc-follow-btn,#article-follow-btn{
    width:100px;
    height:40px;
    border:none;
    border-radius:20px;
    background-color: #2c9ed3;
    font-family: poppins;
    color:white;
    
  }

  .pc-follow-btn-mobile{
    display: none;
  }

  /* article */

  #article-component{
    width: min(700px,100%);
    margin: auto;
    padding: 20px;
    font-family: poppins;
  }

  #article-component > *:not(:last-of-type){
    margin-bottom: 20px;
  }

  #article-tbnl{
    width:100%;
  }

   .comment-profile-pic-div{
    height: 30px;
    width:30px;
  }

  .article-profile-pic-div {
    height: 40px;
    width:40px;
  }

  #article-title{
    font-size: 50px;
  }

  #article-body{
    font-size: 20px;
  }

  #interaction-bar{
    display: flex;
  }

  #interaction-bar svg{
    height: 30px;
    width:30px;
  }

  #interaction-bar svg:hover{
    cursor: pointer;
  }

  #interaction-bar span:last-of-type {
    margin-left:20px;
  }

  /* comment-section */

  #comment-section{
    background-color: #e0e0e0;
    padding:20px;
    border-radius: 20px;
  }

  #comment-input{
    width:100%;
    height:50px;
    background-color: white;
    padding:20px;
    border:none;
    border-radius:20px;
    outline: none;
    font-size: 1rem;
  }

  #all-comments{
    border-radius: 20px;
    background-color: white;
  }

  .comment-wrap{
    padding: 10px; 
    margin:20px 0;
  }

  .comments {
    margin:10px 0;
  }

  .comment-time , #article-time{
    font-size:0.8rem;
    color:#888;
  }

  #comment-section h3{
    color:var(--dark);
    text-align:center;
    margin:15px 0;
  }

  /* authorprofile */

  #authorprofile-component{
    display:flex;
    overflow: hidden;
    font-family: 'poppins';
  }

  #authorprofile-details{
    width: 500px;
    height:100vh;
    background-color: #3498DB;
    display: grid;
    place-items: center;
    position: fixed;
  }

  #authorprofile-details-wrap{
    width:300px;
    font-family: poppins;
  }

  #authorprofile-details-wrap > *:not(:last-of-type){
    margin-bottom: 20px;
  }

  #authorprofile-profile-pic-div{
    height:300px;
    width:300px;
    border:10px solid white;
    margin:0;
  }

  .authorprofile-numbercount{
    display: flex;
    justify-content: space-between;
    color:white;
    font-size: 20px;
  }

  .authorprofile-numbercount > *{
    display: flex;
    flex-direction: column;
  }

  .authorprofile-numbercount span{
    text-align:center;
    width:100%;
  }

  #authorprofile-btn-wrap{
    display: flex;
    justify-content: space-between;
  }

  #authorprofile-follow-btn ,#authorprofile-message-btn{
    height:45px;
    width:46%;
    padding:0 10px;
    border: none;
    border-radius: 22.5px;
    font-size: 20px;
    color:#3498DB;
  }

  #authorprofile-bio-span{
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }

  #authorprofile-bio{
    color: #c6c6c6;
  }

  #authorprofile-posts{
    width: calc(100vw - 500px);
    position: relative;
    left:500px;
    font-family: poppins;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 10px;
  }

  #authorprofile-details-mobile{
    display:none;
  }

  /* userprofile */

  #userprofile-component{
    /* padding: 10px; */
    font-family: poppins;

  }

  #userprofile-details{
    height: 40vh;
    background-color: #3498DB;
    padding:0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }

  #userprofile-details-wrap{
    display: flex;
  }

  #userprofile-only-details{
    /* display: flex; */
    flex-direction:column;
    justify-content:space-between;
  }
  
  #userprofile-profile-pic-div{
    height:220px;
    width:220px;
    border:10px solid white;
    margin-right:40px;
  }

  #userprofile-name{
    color: white;
    font-size: 2.5rem;
    height:25%;
  }

  #userprofile-email-wrap{
    height:15%;
    display: flex;
    align-items: center;

  }

  #userprofile-email{
    color:#E6E6E6;
    font-size: 0.9rem;
  }

  #userprofile-numbercount-wrap{
    display: flex;
    align-items: center;
    height: 60%;
  }


  #userprofile-numbercount{
    display: flex;
    justify-content: space-between;
    color:white;
    font-size: 1.5rem;
    width:350px;
  }

  #userprofile-numbercount > *{
    display: flex;
    flex-direction: column;
  }

  #userprofile-numbercount span{
    text-align:center;
    width:100%;
  }

  #userprofile-navbar-wrap{
    padding-left: 10%;
    margin-bottom: 10px;
  }

  #userprofile-navbar{
    width:390px;
    display: flex;
    justify-content: space-between;
  }

  .userprofile-navbar-btn{
    border:none;
    font-family: poppins;
    font-size: 1rem;
    background-color: white;
  }

  #userprofile-underline-container{
    height: 2px;
    border-radius: 1px;
    background-color: #c6c6c6;
  }

  #userprofile-underline{
    height:2px;
    border-radius: 1px;
    background-color: var(--dark);
    width:100px;
    position: relative;
    left:10%;
    transition: 0.3s;
  }

  /* Post Article */

  #postarticle-component{
    width:min(900px,100%);
    margin:auto;
    padding: 10px;
    font-family: poppins;
  }

  #postarticle-component  label{
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 5px;
  }

  #postarticle-form{
    display: flex;
    flex-direction: column;
  }

  #postarticle-form > *:not(label){
    margin-bottom:30px ;
  }

  #title-input{
    height: 50px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: poppins;
  }

  #title-input:focus{
    border:none;
    outline: 1px solid #00CAF7;
  }

  #cover-photo-input{
    display: none;
  }

  #cover-photo-button{
    height:40px;
    width:40px;
    border: none;
    border-radius: 5px;
    background-color:  #00CAF7;
    color:white ;
    font-size: 1.5rem;
  }

  #cover-photo-icon{
    position: relative;
    top:2px;
  }

  #duration-input{
    width:50px;
    height:30px;
    margin-right: 10px;
  }

  #publish-btn-div{
    display: flex;
    justify-content: flex-end ;
  }

  #publish-btn{
    height:40px;
    width:100px;
    font-size: 1rem;
    font-family: 'poppins';
    border: none;
    border-radius: 5px;
    background-color:#00CAF7;
    color:white;
  }

  #userprofile-postarticle-btn{
    height:75px;
    width:75px;
    background-color: #3498DB;
    border-radius:50%;
    border:none;
    box-shadow: 0px 2px 8px 2px grey;
    display: grid;
    place-items: center;
    position: fixed;
    bottom:10vh;
    right: 5vh;
  }

  #userprofile-plus-icon{
    color:white;
    font-size: 2rem;
  }

  #userprofile-handles-wrap{
    width:60px;
    height:100%;
    background-color: red;
    position:absolute;
    right:0;
    margin:auto;
    background-color: white;
    border-left: 1px solid rgb(210, 205, 205)
  }

  #userprofile-hamburger-menu-icon-div{
    /* position: relative; */
    width:35px;
    height: 25px;
    cursor : pointer;
    z-index: 1;
    margin:10px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-between
    
  }

  #userprofile-hamburger-menu{
    position: absolute;
    top:0px;
    right:-140px;
    height:40vh;
    width:200px;
    background-color: white;
    transition: transform 0.3s;
    padding:25px;
    /* box-shadow: grey 0px 0px 10px 2px; */

  }

  #userprofile-hamburger-options-list{
    list-style: none;
  }

  .userprofile-hamburger-options{
    height:40px;
  }

  .userprofile-hamburger-options > button{
    width:100%;
    height:100%;
    font-family: poppins;
    font-size: 1rem;
    background-color: white;
    border:none;
  }

  .userprofile-hamburger-options > button:hover{
    font-size: 1.1rem;
    transition: 0.3s;
    color: grey;
  }


  .hamburger-lines{
    background-color:var(--dark);
    height: 3px;
    width:100%;
    border-radius: 1.5px;
    /* position: absolute; */
  }

  #ham-1-close{
    transition: transform 0.3s;
  }
  #ham-2-close{
  }
  #ham-3-close{
    transition: transform 0.3s;
  }

  #ham-1-open{
    transform : translateY(11px) rotate(45deg);
    transition: transform 0.3s;
    /* animation: whiteToGrey 0.3s linear forwards; */
  }
  #ham-2-open{
    display: none;
    /* animation: whiteToGrey 0.3s linear forwards; */

  }
  #ham-3-open{
    transform : translateY(-11px) rotate(-45deg);
    transition: transform 0.3s;
    /* animation: whiteToGrey 0.3s linear forwards; */

  }

  #editprofile-component{
    height:100vh;
    width:100%;
    /* background-color: red; */
    display: grid;
    place-items: center;
  }

  #editprofile-form{
    color:var(--dark);
    font-family: poppins;
    font-size: 0.8rem;
    background-color: white;
    width:500px;
    padding:50px;
    border-radius:20px;
    box-shadow: grey 0px 0px 10px 0px;
  }

  #editprofile-form > input{
    height:35px;
    width: 100%;
    border:none;
    background-color: #E6E6E6;
    border-radius: 5px;
    padding:10px;
    margin-bottom:20px;
  }

  #editprofile-profilepic-input{
    display:none;
  }

  #editprofile-profilepic-input-label{
    text-align: center;
    font-size: 1rem;
    color: #00CAF7; 
    cursor: pointer;
  }

  #editprofile-form > label{
    display: block;
    margin-bottom: 10px;
  }
  #editprofile-submit-btn-wrap{
    display: flex;
    justify-content: right;
  }

  #editprofile-submit-btn{
    background-color: #00CAF7;
    color:white;
    font-size: 1rem;
    font-family:poppins;
    padding:10px;
    border:none;
    border-radius:5px;
  }

  #editprofile-profilepic-input-label:active{
    color:#3498DB;
  }

  #editprofile-submit-btn:active{
    background-color:#3498DB;
  }

  #editprofile-image-div{
    position: absolute;
    height:120px;
    width:120px;
    border-radius:50%;
    background-color: grey;
  }

  #editprofile-image-div-wrap{
    position: relative;
    margin:0px auto 10px;
    height : 120px ;
    width : 120px ;
  }

  #edit-profilepic-icon-div{
    position : absolute;
    top: 70% ;
    right : 0% ;
    background-color: whitesmoke;
    height : 20px ;
    width : 20px ;
    display : grid ;
    place-items : center ;
    border-radius: 5px;
    box-shadow : grey 0px 0px 3px 0px ;
  }

  /* @keyframes whiteToGrey {
    from {
      background-color: white;
    }

    to {
      background-color: grey;
    }
  } */

  @media(max-width:1180px){

    #home-trans-container{
      flex-direction: column;
      padding:55px;
      width:auto;
    }
    
    #sub-title{
      font-size: max(2vw,25px);
    }
    #home-blogspot-wrap{
      align-self: flex-start;
      width:100%;
    }

    #swiper-div{
      width:60vw;
    }

    .swiper-slide{
      height:180px;
      width: 150px;
    }

    .swiper-button-prev , .swiper-button-next{
      width:40px;
      height:40px;
      border-radius:20px;
    }

    .swiper-button-prev::after,.swiper-button-next::after{
      transform: scale(0.6);
    }

    #people-component{
      grid-template-columns: 1fr;
    }

    .people-card{
      height:auto;
    }

    #authorprofile-posts{
      grid-template-columns: 1fr;
    }
  }

  @media(max-width:480px){
    
    #h1-blogspot{
      font-size: 60px;
    }

    #swiper-div{
      width:45vw;
    }

    .swiper-slide{
      height:180px;
      width: 45vw;
    }

    #home-trans-container{
      padding:30px;
      height: auto;
    }

    #article-component{
      padding:10px;
    }

    #article-title{
      font-size:1.5rem;
      margin:1rem 0;
    }

    #article-body{
      font-size:1rem;
    }

    #comment-section{
      padding:10px;
      border-radius: 10px;
    }
  
    #comment-input{
      height:40px;
      border:none;
      border-radius:10px;
      font-size: 1rem;
    }
  
    #all-comments{
      border-radius: 10px;
    }
  
    .comment-wrap{
      padding: 10px; 
      margin:10px 0;
    }
  
    .comments {
      margin:10px 0;
      font-size: 0.8rem;
    }
  
    #comment-section h3{
      margin:10px 0;
    }

    .article-profile-pic-div {
      height: 35px;
      width:35px;
    }

    .article-author{
      font-size: 0.8rem;
    }

    #article-follow-wrap{
      padding:0 15px;
    }

    #article-follow-btn{
      width:70px;
    }

    #blog-cards{
      grid-template-columns: 1fr;
    }

    .blog-card{
      margin:10px;
    }

    .bc-title{
      font-size: 1rem;
    }

    .bc-preview{
      font-size:0.8rem
    }

    #explore-main{
      padding:0 10px;
    }

    .pc-author{
      font-size: 1.2rem;
    }
  
    .pc-bio{
      font-size: 0.9rem;
    }

    .pc-follow-btn-mobile{
      height: 28px;
      color :white;
      background-color: #2c9ed3;
      border:none;
      border-radius:14px;
      padding: 0 10px;
      font-size: 0.9rem;
      display: block;
    }
  
    .pc-follow-wrap{
        display: none;
    }

    .people-card .profile{
      margin-bottom: 10px;
    }
  
    .people-card{
      margin:15px 0px;
    }

    #authorprofile-posts{
      left:0px;
      width:100%;
      grid-template-columns: 1fr;
    }
  }

  @media (min-width:480px) and (max-width:960px) {
    #blog-cards{
      grid-template-columns: 1fr 1fr;
    }

    #authorprofile-posts{
      left:0px;
      width:100%;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width:960px){

    #block-1,#block-2,#block-3{
      flex-direction: column;
    }
    .text,.image{
      width:100%;
    }
    
    .image{
      height: 400px;
    }

    .block{
      height:auto;
    }

    #authorprofile-component{
      flex-direction: column;
    }

    #authorprofile-details{
      display:none;
    }

    #authorprofile-details-mobile{
      display: block;
      font-family: 'poppins';
      margin-bottom: 18vw;
    }

    #authorprofile-blue-mobile{
      background-color: #3498DB;
      height: 35vw;
      /* position: absolute; */
    }

    #authorprofile-profile-pic-div-mobile{
      height:40vw;
      width:40vw;
      border:1vh solid white;
      margin: auto;
      position: relative;
      top:15vw;
    }
    
    #authorprofile-details-wrap-mobile{
      /* padding:0px 15px; */
      position: relative;
      top:20vw;
      width:max(300px,50%);
      margin: auto;
    }

    #authorprofile-details-wrap-mobile > *{
      margin-bottom: 20px;
    }

    #authorprofile-numbercount-mobile{
      color: #3498DB;
    }
    
    #authorprofile-bio-span{
      font-weight: bold;
      font-size: 1.2rem;
      color: black;
    }

    #authorprofile-bio{
      color:#555
    }

  }

  @media(max-width:600px){

    #signup-login-wrap{
      width:120px;
      align-items: flex-end;
    }
    .signup{
      width: 100%;
    }
    .login{
      display: none;
    }
  }

  @media(max-width:400px){
    .auth-form{
      width:90%;
    }
  }








  


  
  
  
  
  
  